# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Terraform
.terraform/
**/*.tfstate
**/*.tfstate.*
*.tfstate.lock.info
*.tfvars
*.tfvars.json

# AWS / Lambda Artifacts
*.zip

# Project Data
*.json
!data.json
!silver_sample.json
!dashboard/data.json